.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(56, 221, 248, 0.8);
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease, background 0.2s ease;
  z-index: 9999;
  mix-blend-mode: difference;
}

.custom-cursor.hovered {
  width: 40px;
  height: 40px;
  background-color: rgba(56, 221, 248, 0.4);
}
